/* Global Styles */
.App{
  height: 100vh;
}

.font-playfair{
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.font-lato{
  font-family: "Lato", sans-serif;
}

button{
  background-color: #26ffe9;
  border-style: none;
  padding: 10px;
  border-radius: 3px;
  width: 150px;
  text-align: center;
}
button:hover{
  filter: drop-shadow(1px 7px 0.75rem #ccc);
  
}
.fa-git{
  filter: drop-shadow(1px 7px 0.75rem #ccc);
}

.color-hotpink{
  color: #fe019a;
}

.color-teal{
  color: #26ffe9;
}

.custom-black{
  color: #1F1C1E;
}

/* Nav Bar Styles */

.nav-container{
  height: 50px;
}

.nav-link{
  color: #1F1C1E;
}

.nav-h1-custom{
  font-weight: bold;
  font-size: 36px;
}

.nav-logo{
  font-weight: bold;
  font-size: 36px;
}


/* About Page Styles */
.fab, .fas, .far{
  font-size: 30px;
  margin: 0 10px 0 10px;
  color: #343a40;
}

.skill-text{
  font-size: 16px;
}

.skill-icon{
  font-size: 45px;
  text-align: center;
}

.icon-container{
  padding: 10px;
}

.bg-contact{
  background-color: #F0EFED;
}


/* Project Page Styles */

.card-btn{
  background-color: #343a40ed;
  border-style: none;
  padding: 7px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  text-align: center;
}

.pc-overlay{
  background-position: center center;
  background-size: cover;
  padding: 5px;
  margin: 5px;
}

.pc-img-1{
  background-color: #F0EFED;
 
}
.pc-img-2{
  background-color: #F0EFED;
}
.pc-img-3{
  background-color: #F0EFED;
}
.pc-img-4{
  background-color: #F0EFED;
}
.pc-img-5{
  background-color: #F0EFED;
}
.pc-img-6{
  background-color: #F0EFED;
}
.project-card{
  width: 300px;
  aspect-ratio: 3/2;
  /* background-image: url('../src/img/decidr.png');
  background-size: cover;  */
}
