.App {
  text-align: center;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #000;
  font-weight: bold;
}

/* 
Custom CSS */
button{
  /* background-color: #24B59D; */
  background-color: #26ffe9;
  border-style: none;
  padding: 10px;
  border-radius: 20px;
  width: 150px;
  text-align: center;
}

.nav-container{
  height: 50px;
  background-color: pink;
}
.h2-custom{
  font-family: "Playfair Display", serif;
  font-weight: bold;
  /* color: #FE3346; */
  /* color: #ff007f; */
  color: #fe019a;
}

.nav-link{
  color: #1F1C1E;
}

.nav-h1-custom{
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 36px;
}

.nav-logo{
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 36px;
}
.p-custom{
  font-family: "Lato", sans-serif;
}

.fab, .fas, .far{
  font-size: 30px;
  margin: 0 10px 0 10px;
  color: #1F1C1E;
}
.skill-text{
  font-size: 16px;
}

.skill-icon{
  font-size: 45px;
}

.icon-container{
  padding: 10px;
}

.connect-span{
  color: green;
}
.bg-contact{
  /* background-color:#2ec4b6; */
  /* background-color: #87d3cf; */
  background-color: #F0EFED;
}
